/* CSS declarations go here */
body{
    font-family:sans-serif;
    border-style: solid;
    background-image:url('http://i0.wp.com/cdn.bgr.com/2014/03/xp-wallpaper.jpg?w=625');
}

.top{
    border-style:solid;
    background-color:yellow;
}

.top img{
    height: 200px; 
    width: 200px;
    style: border-radius:200px;
}
.top div{
    border-style: solid;
}

.loginPanel{
    border-bottom-style:solid;
    border-color:black;
    border-width:1px;
    border-bottom-width:2px;
    
    
}

@media(min-width: 700px){
    .loginPanel{
        margin-top: 100px;
    }
}
@media and screen (min-width: 700px){
    .loginPanel{
        margin-top: 100px;
    }
    #login-email-label{
        text-transform: uppercase;
    }
}
